html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  color: #0e0b16;
  font-family: "Indie Flower", sans-serif;
}
html a, body a {
  color: #0e0b16;
}
html a:hover, body a:hover {
  color: #0e0b16;
  text-decoration: underline;
}

#landing-content {
  align-self: center;
  margin: auto;
  width: 100%;
}

.notes {
  margin: 0 8px;
}

.notes:hover {
  transform: scale(1.5);
  color: red;
  cursor: pointer;
}

#landing {
  display: grid;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #6441a5, #2a0845);
}

.nav {
  background-image: linear-gradient(to right, #6441a5, #2a0845);
}

.nav.navbar {
  display: grid;
  justify-content: center;
  width: 100%;
  background-color: #6441a5;
  color: #ffffff;
}
.nav.navbar a {
  color: #ffffff;
}
.nav.navbar a:hover {
  color: #ffffff;
}

.nav.nav-tabs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: none;
}
.nav.nav-tabs a {
  color: #ffffff;
}

.nav-item {
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.nav-item.active {
  background-color: #f0f8ff;
  border: 1px solid;
  border-top-color: black;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}
.nav-item.active a {
  color: #0e0b16;
}

#active-link {
  font-weight: bold;
}

.dropdown-menu {
  background-color: #6441a5;
}

iframe {
  justify-self: center;
  border: 1px solid #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
}

.content {
  margin: 20px 0;
  padding: 20px;
}

.btn, .answer_btn {
  width: fit-content;
  min-width: 5em;
  border: 1px solid black;
  grid-column: 1/span 2;
}

.answer_btn {
  background: #6441a5;
  color: #ffffff;
  border-radius: 4px;
  margin: 4px;
}

#intervalButtons {
  display: flex;
  flex-shrink: inherit;
  justify-content: center;
  margin: auto;
}

input {
  width: fit-content;
  justify-self: center;
  margin: 4px;
}

.form-select {
  justify-self: center;
  width: fit-content;
  margin: 10px 4px;
}

.answer, .staff {
  display: flex;
  justify-content: center;
}

.staff {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.score {
  width: 3em;
}

.staff {
  border-radius: 12px;
  background-color: white;
  max-width: 600px;
  margin: auto;
}

.music-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#shark {
  width: 100vw;
  height: 100vw;
  padding: 10px;
}

#mobileTitle {
  background-color: #6441a5;
  color: #ffffff;
  margin: 0;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.cropped {
  width: 600px;
  /* width of container */
  height: 300px;
  /* height of container */
  overflow: hidden;
  box-shadow: 0 4px 8px 0 #6441a5, 0 6px 20px 0 #6441a5;
  margin: 20px auto;
}

.cropped img {
  margin: -10px 0px 0px -180px;
  width: 100%;
  margin: -50px auto;
}

@media (max-width: 1120px) {
  #staff {
    width: 400px;
    margin: auto;
  }

  body {
    text-align: center;
  }

  .music-form {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    text-align: right;
  }

  .content {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0;
  }

  #intervalButtons {
    flex-wrap: wrap;
  }

  .form-select {
    width: 100%;
  }

  .btn-group, #gameScore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sound {
    visibility: hidden;
  }

  .dropdown-item:hover {
    background-color: #6441a5;
  }

  .cropped {
    width: 400px;
    /* width of container */
    height: 200px;
    /* height of container */
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #6441a5, 0 6px 20px 0 #6441a5;
    margin: 20px auto;
  }

  .cropped img {
    width: 100%;
    margin: -25px auto;
  }

  #ear-training-link {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
